/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #111111;
  margin: 40px 0px 70px;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0px;
  padding: 0px;
}

label {
  font-size: 1.2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}


/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.mainPanel {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.messageLabelTextBox {
  margin-right: 10px;
}

.yourProcessIdTextBox {
  margin-right: 10px;
}

.senderProcessIdTextBox {
  margin-right: 10px;
}

.messageTextArea {
  width: 200px;
  height: 200px;
  background: #f5f5f5;
}

.sendButton {
  margin: auto;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #00ec00;
}

.receiveButton {
  margin: auto;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}